#names {
    background-color: rgba(0,0,0,0.95);
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    text-align: center;
}

#aufgabenBody {
    min-height: 200px; font-size: 150% !important;
}