{% extends 'account_management/generic.html' %}
{% load crispy_forms_tags %}

{% block stylesheet %}

{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 20px;">
        <div class="row justify-content-center">
            <div class="col-sm-10 pt-sm-3 pb-sm-3 col-md-8 pt-md-3 pb-md-3 col-lg-6 pt-lg-3 pb-lg-3 col-xl-5 pt-xl-3 pb-xl-3 border border-cs" id="settingsContainer">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Bestätigen</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}