{% extends "spiel/generic.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static "spiel/css/create.css" %}">
{% endblock %}

{% block navbar %}
    <a class="nav-item nav-link" href="{% url "gamestart" %}">Spiel starten</a>
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dashboard
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url "ownsets" %}">Eigene Stapel</a>
            <a class="dropdown-item" href="{% url "followsets" %}">Gefolgte Stapel</a>
        </div>
    </div>
    <a class="nav-item nav-link" href="{% url "comment" %}">Gästebuch</a>
    <a class="nav-item nav-link" href="{% url "settings" %}">Kontoeinstellungen</a>
{% endblock %}

{% block body %}
    <div class="container-fluid mb-5 mt-1">
        <form class="form" action="" method="post" id="createForm">
            {% csrf_token %}
            {{ forms.management_form }}
            <div class="row all_cards">
                    {% for form in forms %}
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-1 createcard">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="form-group col">
                                        <label for="task" class="col-form-label">Aufgabe:</label>
                                        {{ form.Task|as_crispy_field }}
                                    </div>
                                    <div class="form-group col">
                                        <label for="answer" class="col-form-label">Auflösung:</label>
                                        {% if form.Category.value is 2%}
                                            {{ form.TaskAnswer|as_crispy_field }}
                                        {% else %}
                                            {{ form.TaskAnswer|attr:"disabled:true"|as_crispy_field }}
                                        {% endif %}
                                    </div>
                                    <div class="form-group col">
                                        <label for="category" class="col-form-label">Kategorie:</label>
                                        {{ form.Category|as_crispy_field }}
                                    </div>
                                    <div class="form-group col">
                                        <div class="form-check">
                                            {{ form.DELETE|add_class:"form-check-input" }}
                                            <label class="form-check-label" for="checkDelete">Löschen</label>
                                        </div>
                                    </div>
                                </div>
                                {{ form.id }}
                                {{ form.Stapel }}
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </form>
    </div>

    <div id="footer">
        <div class="container">
            <div class="row justify-content-center">
                <span class="text-light col-8 col-sm-6" style="margin-top:10px;">Fertig mit bearbeiten?</span>
                <button class="btn btn-primary col-4 col-sm-6" type="submit" form="createForm" style="margin-top:4px;">Speichern</button>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static "spiel/js/create.js" %}"></script>
{% endblock %}




