{% extends "spiel/generic.html" %}

{% load static %}

{% block stylesheet %}

{% endblock %}

{% block navbar %}
    <a class="nav-item nav-link" href="{% url "gamestart" %}">Spiel starten</a>
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dashboard
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url "ownsets" %}">Eigene Stapel</a>
            <a class="dropdown-item" href="{% url "followsets" %}">Gefolgte Stapel</a>
        </div>
    </div>
    <a class="nav-item nav-link" href="{% url "comment" %}">Gästebuch</a>
    <a class="nav-item nav-link" href="{% url "settings" %}">Kontoeinstellungen</a>
{% endblock %}

{% block sort %}
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Sortieren nach
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{% url "discover" %}">Neuste</a>
            <a class="dropdown-item" href="{% url "discover" %}hot/">Relevanz</a>
            <a class="dropdown-item" href="{% url "discover" %}mostplayed/">Gespielt</a>
            <a class="dropdown-item" href="{% url "discover" %}mostfollowed/">Gefolgt</a>
            <a class="dropdown-item" href="{% url "discover" %}mostliked/">Favorisierung</a>
            <a class="dropdown-item" href="{% url "discover" %}random/">Zufällig</a>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container-fluid pt-1">
        <div class="row">

            {% for deck in decks %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-1">
                    <div class="card h-100">
                       <div class="card-body">
                           <h5 class="card-title">{{ deck.Name }}</h5>
                           <p class="card-text">Anzahl Karten: {{ deck.number_cards }}</p>
                           <p class="card-text">Häufigkeit gefolgt: {{ deck.FollowedBy.count }}</p>
                           <p class="card-text">Häufigkeit favorisiert: {{ deck.LikedBy.count }}</p>
                           <p class="card-text">Häufigkeit gespielt: {{ deck.Played }}</p>
                           <p class="blockquote-footer">Erstellt von <cite title="Source Title">{{ deck.Owner }}</cite></p>
                           <span>
                               <button class="btn {% if request.user in deck.FollowedBy.all %}btn-secondary {% else %}btn-primary {% endif %}text-white follow" id="{{ deck.id }}">
                                   {% if request.user in deck.FollowedBy.all %}Entfolgen {% else %}Folgen {% endif %}
                               </button>
                               <svg width="40" height="40" class="heart float-right" viewBox="0 0 12 16" version="1.1" aria-hidden="true" id="{{ deck.id }}">
                                   <path fill-rule="evenodd" {% if request.user in deck.LikedBy.all %}fill="#FC4949" stroke="#FC4949" {% else %}fill="white" stroke="black" {% endif %} d="M9 2c-.97 0-1.69.42-2.2 1-.51.58-.78.92-.8 1-.02-.08-.28-.42-.8-1-.52-.58-1.17-1-2.2-1-1.632.086-2.954 1.333-3 3 0 .52.09 1.52.67 2.67C1.25 8.82 3.01 10.61 6 13c2.98-2.39 4.77-4.17 5.34-5.33C11.91 6.51 12 5.5 12 5c-.047-1.69-1.342-2.913-3-3z"></path>
                               </svg>
                           </span>
                       </div>
                   </div>
                </div>
            {% endfor %}
        </div>
        {% if decks.paginator.num_pages > 1 %}
            <div class="row justify-content-center mt-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item {% if not decks.has_previous %}disabled{% endif %}">
                            <a class="page-link" href="?page={% if decks.has_previous %}{{ decks.previous_page_number }}{% endif %}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        {% if decks.paginator.num_pages == 2 %}
                            {% if decks.number == 1 %}
                                <li class="page-item active"><a class="page-link" href="?page=1">1</a></li>
                                <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                                <li class="page-item active"><a class="page-link" href="?page=2">2</a></li>
                            {% endif %}
                        {% endif %}
                        {% if decks.paginator.num_pages == 3 %}
                            {% if decks.number == 1 %}
                                <li class="page-item active"><a class="page-link" href="?page=1">1</a></li>
                                <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                                <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
                            {% elif decks.number == 2 %}
                                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                                <li class="page-item active"><a class="page-link" href="?page=2">2</a></li>
                                <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                                <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                                <li class="page-item active"><a class="page-link" href="?page=3">3</a></li>
                            {% endif %}
                        {% endif %}
                        {% if decks.paginator.num_pages == 4 %}
                            {% if decks.number == 1 %}
                                <li class="page-item active"><a class="page-link" href="?page=1">1</a></li>
                                <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                                <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
                                <li class="page-item"><a class="page-link" href="?page=4">4</a></li>
                            {% elif decks.number == 2 %}
                                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                                <li class="page-item active"><a class="page-link" href="?page=2">2</a></li>
                                <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
                                <li class="page-item"><a class="page-link" href="?page=4">4</a></li>
                            {% elif decks.number == 3 %}
                                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                                <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                                <li class="page-item active"><a class="page-link" href="?page=3">3</a></li>
                                <li class="page-item"><a class="page-link" href="?page=4">4</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                                <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                                <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
                                <li class="page-item active"><a class="page-link" href="?page=4">4</a></li>
                            {% endif %}
                        {% endif %}
                        {% if decks.paginator.num_pages > 4 %}
                            {% if decks.number == 1 %}
                                <li class="page-item active"><a class="page-link" href="?page=1}">1</a></li>
                                <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                                <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
                                <li class="page-item"><a class="page-link" href="?page=4">4</a></li>
                                <li class="page-item"><a class="page-link" href="?page=5">5</a></li>
                            {% elif decks.number == 2 %}
                                <li class="page-item"><a class="page-link" href="?page=1}">1</a></li>
                                <li class="page-item active"><a class="page-link" href="?page=2">2</a></li>
                                <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
                                <li class="page-item"><a class="page-link" href="?page=4">4</a></li>
                                <li class="page-item"><a class="page-link" href="?page=5">5</a></li>
                            {% elif decks.number > 2 and decks.number < decks.paginator.num_pages|add:"-1"%}
                                <li class="page-item"><a class="page-link" href="?page={{ decks.number|add:"-2" }}">{{ decks.number|add:"-2" }}</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ decks.number|add:"-1" }}">{{ decks.number|add:"-1" }}</a></li>
                                <li class="page-item active"><a class="page-link" href="{{ decks.number }}">{{ decks.number }}</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ decks.number|add:"1" }}">{{ decks.number|add:"1" }}</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ decks.number|add:"2" }}">{{ decks.number|add:"2" }}</a></li>
                            {% elif decks.number == decks.paginator.num_pages|add:"-1" %}
                                <li class="page-item"><a class="page-link" href="?page={{ decks.paginator.num_pages|add:"-4" }}">{{ decks.paginator.num_pages|add:"-4" }}</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ decks.paginator.num_pages|add:"-3" }}">{{ decks.paginator.num_pages|add:"-3" }}</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ decks.paginator.num_pages|add:"-2" }}">{{ decks.paginator.num_pages|add:"-2" }}</a></li>
                                <li class="page-item active"><a class="page-link" href="?page={{ decks.paginator.num_pages|add:"-1" }}">{{ decks.paginator.num_pages|add:"-1" }}</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ decks.paginator.num_pages }}">{{ decks.paginator.num_pages }}</a></li>
                            {% elif decks.number == decks.paginator.num_pages %}
                                <li class="page-item"><a class="page-link" href="?page={{ decks.paginator.num_pages|add:"-4" }}">{{ decks.paginator.num_pages|add:"-4" }}</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ decks.paginator.num_pages|add:"-3" }}">{{ decks.paginator.num_pages|add:"-3" }}</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ decks.paginator.num_pages|add:"-2" }}">{{ decks.paginator.num_pages|add:"-2" }}</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ decks.paginator.num_pages|add:"-1" }}">{{ decks.paginator.num_pages|add:"-1" }}</a></li>
                                <li class="page-item active"><a class="page-link" href="?page={{ decks.paginator.num_pages }}">{{ decks.paginator.num_pages }}</a></li>
                            {% endif %}
                        {% endif %}
                        <li class="page-item {% if not decks.has_next %}disabled{% endif %}">
                            <a class="page-link" href="?page={% if decks.has_next %}{{ decks.next_page_number }}{% endif %}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
     <script src="{% static "spiel/js/discover.js" %}"></script>
{% endblock %}
