{% extends 'spiel/generic.html' %}

{% load static %}

{% block stylesheet %}
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "spiel/css/body.css" %}">
{% endblock %}

{% block navbar %}
    <a class="nav-item nav-link" href="{% url "gamestart" %}">Spiel starten</a>
    <div class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dashboard
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url "ownsets" %}">Eigene Stapel</a>
            <a class="dropdown-item" href="{% url "followsets" %}">Gefolgte Stapel</a>
        </div>
    </div>
    <a class="nav-item nav-link" href="{% url "comment" %}">Gästebuch</a>
    <a class="nav-item nav-link" href="{% url "settings" %}">Kontoeinstellungen</a>
{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row bg-secondary text-white mb-1">
            <div class="text-justify pl-3 pb-1" style="font-size: 20px;">Gefolgte Stapel</div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-1">
                    <div class="card h-100">
                       <div class="card-body">
                           <h5 class="card-title">Stapel suchen</h5>
                           <p class="card-text">Entdecke neue Kartenset</p>
                           <a href="{% url "discover" %}" class="btn btn-dark text-white">Stapel entdecken</a>
                       </div>
                   </div>
                </div>

            {% for deck in elements %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-1">
                    <div class="card h-100">
                       <div class="card-body">
                           <h5 class="card-title">{{ deck.Name }}</h5>
                           <p class="card-text">Anzahl Karten: {{ deck.number_cards }}</p>
                           <p class="card-text">Häufigkeit gefolgt: {{ deck.FollowedBy.count }}</p>
                           <p class="card-text">Häufigkeit favorisiert: {{ deck.LikedBy.count }}</p>
                           <p class="card-text">Häufigkeit gespielt: {{ deck.Played }}</p>
                           <p class="blockquote-footer">Erstellt von <cite title="Source Title">{{ deck.Owner }}</cite></p>
                           <span>
                               <button class="btn {% if request.user in deck.FollowedBy.all %}btn-secondary {% else %}btn-primary {% endif %}text-white follow" id="{{ deck.id }}">
                                   {% if request.user in deck.FollowedBy.all %}Entfolgen {% else %}Folgen {% endif %}
                               </button>
                               <svg width="40" height="40" class="heart float-right" viewBox="0 0 12 16" version="1.1" aria-hidden="true" id="{{ deck.id }}">
                                   <path fill-rule="evenodd" {% if request.user in deck.LikedBy.all %}fill="#FC4949" stroke="#FC4949" {% else %}fill="white" stroke="black" {% endif %} d="M9 2c-.97 0-1.69.42-2.2 1-.51.58-.78.92-.8 1-.02-.08-.28-.42-.8-1-.52-.58-1.17-1-2.2-1-1.632.086-2.954 1.333-3 3 0 .52.09 1.52.67 2.67C1.25 8.82 3.01 10.61 6 13c2.98-2.39 4.77-4.17 5.34-5.33C11.91 6.51 12 5.5 12 5c-.047-1.69-1.342-2.913-3-3z"></path>
                               </svg>
                           </span>
                       </div>
                   </div>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
    <script src="{% static "spiel/js/discover.js" %}"></script>
    <script src="{% static "spiel/js/own.js" %}"></script>
{% endblock %}