{% extends 'spiel/generic.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block stylesheet %}
        <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <a class="nav-item nav-link" href="{% url "gamestart" %}">Spiel starten</a>
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dashboard
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url "ownsets" %}">Eigene Stapel</a>
            <a class="dropdown-item" href="{% url "followsets" %}">Gefolgte Stapel</a>
        </div>
    </div>
    <a class="nav-item nav-link active" href="{% url "comment" %}">Gästebuch</a>
    <a class="nav-item nav-link" href="{% url "settings" %}">Kontoeinstellungen</a>
{% endblock %}

{% block body %}
<div class="container">
<ul class="nav nav-tabs nav-fill mt-3" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Einträge</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if user.is_authenticated %}{% else %}disabled{% endif %}" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Erstellen</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  {% for comment in comments %}
      <div class="card border-0 mt-2">
        <div class="card-body">
            <h5 class="card-title">{{ comment.Titel }}</h5>
            <p class="card-text">{{ comment.Kommentar|linebreaks }}</p>
            <footer class="blockquote-footer">Geschrieben von <cite>{{ comment.Ersteller }}</cite> am {{ comment.Timestamp }}</footer>
        </div>
      </div>
      <hr id="seperate">
  {% endfor %}
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
       <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.Titel|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.Kommentar|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.Datenschutz|as_crispy_field }}
            </div>
           {{ form.email }}
            <button type="submit" class="btn btn-primary">Absenden</button>
        </form>
  </div>
    </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}