{% extends 'spiel/generic.html' %}

{% load static %}

{% block stylesheet %}
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "spiel/css/body.css" %}">
{% endblock %}

{% block navbar %}
    <a class="nav-item nav-link" href="{% url "gamestart" %}">Spiel starten</a>
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dashboard
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url "ownsets" %}">Eigene Stapel</a>
            <a class="dropdown-item" href="{% url "followsets" %}">Gefolgte Stapel</a>
        </div>
    </div>
    <a class="nav-item nav-link" href="{% url "comment" %}">Gästebuch</a>
    <a class="nav-item nav-link" href="{% url "settings" %}">Kontoeinstellungen</a>
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row bg-secondary text-white mb-1">
            <div class="text-justify pl-3 pb-1" style="font-size: 20px;">Eigene Stapel</div>
        </div>

        <div class="row">

            {% for elem in elements %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-1">
                    <div class="card h-100" id="card_{{ elem.id }}">
                       <div class="card-body">
                           <h5 class="card-title deckTitle" id="{{ elem.id }}"><span class="deckName rounded">{{ elem.Name }}</span></h5>
                           <p class="card-text">Anzahl Karten: {{ elem.number_cards }}</p>
                           <p class="card-text">Gespielte Male: {{ elem.Played }}</p>
                           <p class="blockquote-footer">Erstellt von <cite title="Source Title">{{ elem.Owner }}</cite></p>
                           <p><input class="shared" id="{{ elem.id }}" type="checkbox" data-toggle="toggle" data-on="Öffentlich" data-off="Privat" data-onstyle="success" data-offstyle="warning" {% if elem.Shared is True %}checked="checked"{% endif %}></p>
                           <span><a href="{% url "create" %}?id={{ elem.id }}" class="btn btn-secondary">Bearbeiten</a><a class="btn btn-danger float-right text-white deleteButton" data-toggle="modal" data-target="#deleteModal" id="{{ elem.id }}">Löschen</a></span>
                       </div>
                   </div>
                </div>
            {% endfor %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-1">
                    <div class="card h-100">
                       <div class="card-body">
                           <h5 class="card-title">Stapel erstellen</h5>
                           <p class="card-text">Erstelle ein neues Kartenset</p>
                           <a data-toggle="modal" data-target="#createModal" class="btn btn-dark text-white">Stapel erstellen</a>
                       </div>
                   </div>
                </div>
        </div>
    </div>

    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form id="createStapel" method="post">
            {% csrf_token %}
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Stapel erstellen</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                            <div class="form-row justify-content-between ml-2 mr-2">
                                <div class="form-group">
                                    <label for="newStapel" class="col-form-label">Stapelname:</label>
                                    <input type="text" class="form-control" id="newStapel" placeholder="Neuer Stapelname" name="stapelName" maxlength="50" required>
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                        <button type="submit" class="btn btn-primary">Erstellen</button>

                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Stapel löschen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Möchtest du diesen Stapel wirklich löschen?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button type="button" class="btn btn-danger deleteButtonModal">Löschen</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
    <script src="{% static "spiel/js/dashboard.js" %}"></script>
{% endblock %}