{% extends 'spiel/generic.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block stylesheet %}
{% endblock %}

{% block navbar %}
    <a class="nav-item nav-link" href="{% url "gamestart" %}">Spiel starten</a>
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dashboard
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url "ownsets" %}">Eigene Stapel</a>
            <a class="dropdown-item" href="{% url "followsets" %}">Gefolgte Stapel</a>
        </div>
    </div>
    <a class="nav-item nav-link" href="{% url "comment" %}">Gästebuch</a>
    <a class="nav-item nav-link active" href="{% url "settings" %}">Kontoeinstellungen</a>
{% endblock %}

{% block body %}
    {% if success is not None %}
        <div class="alert alert-success" role="alert">
            {{success}}
        </div>
    {% endif %}
    {% if error is not None %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {% endif %}
    <div class="container">
    <h2>Benutzername ändern:</h2>
    <form method="post">
    {% csrf_token %}
        <div class="form-group mb-5">
            {{ username_form.username|as_crispy_field }}
            {{ username_form.password|as_crispy_field }}
            <button type="submit" class="btn btn-primary">Absenden</button>
        </div>
    </form>

    <h2>E-Mail-Adresse ändern:</h2>
    <form method="post">
    {% csrf_token %}
        <div class="form-group mb-5">
            {{ email_form.email|as_crispy_field }}
            {{ email_form.password|as_crispy_field }}
            <button type="submit" class="btn btn-primary">Absenden</button>
        </div>
    </form>

    <h2>Passwort ändern:</h2>
    <form method="post">
    {% csrf_token %}
        <div class="form-group">
            {{ password_form.old_password|as_crispy_field }}
            {{ password_form.password|as_crispy_field }}
            {{ password_form.password2|as_crispy_field }}
            <button type="submit" class="btn btn-primary">Absenden</button>
        </div>
    </form>
    </div>
{% endblock %}

{% block script %}

{% endblock %}