{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spiel</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
</head>
<body>


<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Trinkspiel</span>
        <button class="navbar-toggler order-12" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
            {% if user.is_authenticated %}
                <a class="nav-item nav-link active" data-toggle="modal" data-target="#playerModal">Spieleinstellungen</a>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dashboard
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url "ownsets" %}">Eigene Stapel</a>
                        <a class="dropdown-item" href="{% url "followsets" %}">Gefolgte Stapel</a>
                    </div>
                </div>
                <a class="nav-item nav-link" href="{% url "comment" %}">Gästebuch</a>
                <a class="nav-item nav-link" href="{% url "settings" %}s">Kontoeinstellungen</a>
                <a class="nav-item nav-link" href="{% url "logout" %}">Abmelden</a>
            {% else %}
                <a class="nav-item nav-link active" data-toggle="modal" data-target="#playerModal">Spieleinstellungen</a>
                <a class="nav-item nav-link" href="{% url "comment" %}">Gästebuch</a>
                <a class="nav-item nav-link" href="{% url "login" %}">Login</a>
                <a class="nav-item nav-link" href="{% url "register" %}">Registrieren</a>
            {% endif %}
            </div>
        </div>
    </nav>

    <div class="container" id="angepasst">
        <div class="row justify-content-center">
            <div class="col-sm-10 pt-sm-3 pb-sm-3 col-md-8 pt-md-3 pb-md-3 col-lg-7 pt-lg-3 pb-lg-3 col-xl-8 pt-xl-3 pb-xl-3">
                <div class="card border-0">
                    <div class="card-body" id="aufgabenBody">
                        <h2 class="card-tile text-secondary">Aufgabe</h2>
                        <p class="card-text" id="content"></p>
                    </div>
                    <hr id="seperate">
                    <div class="card-body">
                        <h4 class="card-tile text-secondary">Aktive Regeln</h4>
                        <div class="card-text" id="rules">Keine Regeln</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="playerModal" tabindex="-1" role="dialog" aria-labelledby="playerModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Spieler hinzufügen oder löschen!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="listNames"></div>
                    <form id="doNothing">
                        <div class="form-row justify-content-between ml-2 mr-2">
                            <div class="form-group col-6">
                                <input type="text" class="form-control" id="newName" placeholder="Neuer Spielername">
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" onclick="addNewPlayer()">Hinzufügen</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
        <script type="text/javascript">
      window.onbeforeunload = function() {
          return "Möchtest du die Seite wirklich verlassen?"
      }
    </script>
    <script>
        var start_ids = {{ ids }};
        var names = {{ names }};
    </script>
    <script src="{% static "spiel/js/snke.js" %}"></script>

</body>
</html>
