{% extends "spiel/generic.html" %}
{% load static %}

{% block title %}
    Spiel Start
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static "spiel/css/custom.css" %}">
{% endblock %}

{% block navbar %}
    <a class="nav-item nav-link active" href="#">Spiel starten</a>
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dashboard
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url "ownsets" %}">Eigene Stapel</a>
            <a class="dropdown-item" href="{% url "followsets" %}">Gefolgte Stapel</a>
        </div>
    </div>
    <a class="nav-item nav-link" href="{% url "comment" %}">Gästebuch</a>
    <a class="nav-item nav-link" href="{% url "settings" %}">Kontoeinstellungen</a>
{% endblock %}

{% block body %}

    <div class="container" style="margin-top: 20px;">
        <div class="row justify-content-center">
            <div class="col-sm-10 pt-sm-3 pb-sm-3 col-md-8 pt-md-3 pb-md-3 col-lg-6 pt-lg-3 pb-lg-3 col-xl-5 pt-xl-3 pb-xl-3 border border-cs" id="settingsContainer">
                <form action="/start/" method="post">
                    {% csrf_token %}
                    <div id="names">
                        {% if error == True %}
                            {% if names|length == 0 %}
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                                </div>
                            {% else %}
                                {% for name in names %}
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" value="{{ name }}" placeholder="Name">
                                    </div>
                                {% endfor %}
                                <div class="form-group">
                                    <input type="text" class="form-control playername" id="name" name="name" placeholder="Name">
                                </div>
                            {% endif %}
                        {% else %}
                            {% if user.is_authenticated %}
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{ user.get_username }}" required>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                                </div>
                            {% endif %}
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                        </div>
                        {% endif %}
                    </div>
                    <div class="from-group pb-3">
                        <select class="form-control selectpicker" name="stapelCheckBox" data-show-content="false" data-style="btn-secondary" data-actions-Box="true" data-selected-text-format="count" data-live-search="True" multiple required>
                            <optgroup label="Default Sets">
                                {% for item in defaultSets %}
                                    <option data-subtext="von {{item.Owner}}" value="{{ item.id }}">{{item.Name}}</option>
                                {% endfor %}
                            </optgroup>
                            <optgroup label="Eigene Sets">
                                {% for item in ownSets %}
                                    <option data-subtext="von {{item.Owner}}" value="{{ item.id }}">{{item.Name}}</option>
                                {% endfor %}
                            </optgroup>
                            <optgroup label="Abonnierte Sets">
                                {% for item in followedSets %}
                                    <option data-subtext="von {{item.Owner}}" value="{{ item.id }}">{{item.Name}}</option>
                                {% endfor %}
                            </optgroup>
                        </select>
                        </div>
                    <div class="row justify-content-between">
                        <div class="col">
                            <button type="button" id="addPlayer" class="btn btn-dark">Spieler hinzufügen</button>
                        </div>
                        <div class="col text-right">
                            <button type="submit" class="btn btn-dark">Los!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
<script src="{% static "spiel/js/spielstart.js" %}"></script>
{% endblock %}