{% extends 'account_management/generic.html' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-8 col-lg-5 col-xl-6">
                <h1>
                    Bei der Aktivierung ist etwas schiefgegangen. Ist der Link richtig? Versuche es erneut oder kontaktiere uns.
                </h1>
            </div>
        </div>
    </div>
{% endblock %}