{% extends 'account_management/generic.html' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-8 col-lg-5 col-xl-6">
                <h1>
                    Schaue jetzt schnell in deine Emails. Du solltest dort einen Aktivierungslink bekommen haben. Mit dem die Registrierung abgeschlossen wird.
                </h1>
            </div>
        </div>
    </div>
{% endblock %}